In [10]:
import pandas as pd
import requests

In [11]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=b4afe83839b5e3bbc0edd5e617829649&language=en-US&page=1')

In [12]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [13]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,92.507,8.7,22011
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,35.465,8.7,3775
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,93.489,8.7,16385
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,49.798,8.6,13048
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,66.976,8.6,9879

In [14]:
df = pd.DataFrame()

In [15]:
df

Empty DataFrame
Columns: []
Index: []

In [22]:
for i in range(1,500):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=b4afe83839b5e3bbc0edd5e617829649&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [17]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,92.507,8.7,22011
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,35.465,8.7,3775
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,93.489,8.7,16385
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,49.798,8.6,13048
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,66.976,8.6,9879
...,...,...,...,...,...,...,...
8555,311539,A Christmas Horror Story,"Christmas is supposed to be a time of joy, pea...",2015-07-20,6.570,5.8,261
8556,190469,Redirected,Four friends become stranded in Eastern Europe...,2014-01-10,8.727,5.8,307
8557,9396,Crocodile Dundee II,Australian outback expert protects his New Yor...,1988-05-19,14.497,5.8,894
8558,6477,Alvin and the Chipmunks,A struggling songwriter named Dave Seville fin...,2007-12-13,56.206,5.8,3794
8559,250349,Barbecue,"On his 50th birthday, a man who's been watchin...",2014-04-30,11.155,5.8,593

In [23]:
df.shape

(58520, 7)

In [24]:
df.to_csv('movies.csv')